.App p {
  margin: 2em;
}
h1 {
  color: rgb(100, 100, 200);
  font-weight: bold;
  margin: 1em;
}
h2 {
  margin-left: 1em;
  margin-top:0;
}

p {
  font-size: 15px;
  color: rgb(70, 100, 210);
  margin: 2em;
}
img {
  width: 300px;
}