body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', monospace,
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(70, 100, 210);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
